 body {
   margin: 0;
   padding: 0;
   font-family: Arial, sans-serif;
   background-color: #E9D2F4;
   color: rgb(0, 0, 0);
   /* display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; */
   overflow: hidden;
   background-size: cover;
   background-image: url(https://img.freepik.com/free-photo/black-friday-assortment-with-shopping-carts_23-2148666976.jpg?t=st=1737699214~exp=1737702814~hmac=4eea9874500436d198c82c9f208cbdad753df8d8f4b398a0fa7ac40d13390bbc&w=996);
 }


 .page-container1 {

   width: 390px;
   height: 370px;
   background-color: white;
   border-radius: 12px;
   padding: 4px;
   display: flex;
   justify-content: center;
   align-items: center;
   /* box-sizing: border-box; */
   -webkit-border-radius: 12px;
   -moz-border-radius: 12px;
   -ms-border-radius: 12px;
   -o-border-radius: 12px;
   max-width: 1280px;
   margin: 90px auto;
   padding: 2rem;
   text-align: center;



 }

 .form-title1 {
   height: 30px;
   font-family: "Bona Nova SC", serif;
   font-weight: 1000;
   font-style: normal;
   padding: 30px;
 }

 .form-container1 {
   width: 100%;
   height: auto;
 }

 .form-label {
   font-size: 20px;
   display: flex;
   justify-content: flex-start;
   margin-left: 0px;
   padding: 5px;
   font-weight: bold;
   font-family: "Bona Nova SC", serif;
   font-weight: 900;
   font-style: normal;
 }

 .form-input1, .form-select1 {
   width: 100%;
   padding: px;
   border-radius: 6px;
   background-color: #f4f0f6;
   box-sizing: border-box;
   color: black;
   font-family: "Bona Nova SC", serif;
 }

 .form-select1 {
   background-color: #f4f0f6;
   color: black;
 }

 .form-group1 {
   margin-top: 5px;
   display: flex;
   margin-left: 5px;
   font-size: 16px;
 }

 .form-group1 a {
   color: #462099;
 }

 .form-button1 {
   width: 100%;
   padding: 8px;
   margin-top: 15px;
   background-color: #140a24;
   color: white;
   border: none;
   cursor: pointer;
   border-radius: 5px;
   margin: 3px 5px;
 }

 .form-button1 {
   width: 100%;
   padding: 8px;
   background-color: #140a24;
   color: white;
   border: none;
   cursor: pointer;
   border-radius: 5px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   -ms-border-radius: 5px;
   -o-border-radius: 5px;
 }

 .form-button1:hover {
   background-color: #6023e3;
 }

 button.form-button1:hover {
   background-color: #6023e3;
 }

 .form-footer1 {
   text-align: center;
   margin-top: 20px;
 }

 .form-link1 {
   text-decoration: none;
   color: #6200ea;
 }


 @media (max-width: 600px) {
   .page-container1 {
     width: 100%;
     padding: 10px;
   }

   .form-label1 {
     font-size: 18px;
   }

   .form-input1, .form-select1 {
     padding: 10px;
   }

   .form-button1 {
     padding: 10px;
     margin-top: 20px;
   }

   .form-footer1 {
     font-size: 14px;
   }
 }

 @media (max-width: 400px) {
   .page-container {
     width: 100%;
     padding: 12px;
   }

   .form-label {
     font-size: 16px;
   }

   .form-input, .form-select {
     padding: 12px;
   }

   .form-button {
     padding: 12px;
     margin-top: 20px;
   }
 }